Applets(
  list: [
    (
      name: "cosmic-applet-apps-menu",
      description: "Category based menu for apps.",
      repo: "https://github.com/leb-kuchen/cosmic-applet-apps-menu",
      image: "https://preview.redd.it/here-there-are-cosmics-version-of-gnomes-popular-extension-v0-6q8jqqpeh9pc1.png?width=640&crop=smart&auto=webp&s=0f7f5e22e17ac565bc2a5365592da084f3f411cd"
    ),
    (
      name: "cosmic-applet-places-status-indicator",
      description: "Menu for quickly navigating places in the system",
      repo: "https://github.com/leb-kuchen/cosmic-applet-places-status-indicator",
      image: "https://preview.redd.it/here-there-are-cosmics-version-of-gnomes-popular-extension-v0-1vmlqqpeh9pc1.png?width=1920&format=png&auto=webp&s=fdfdffdb3e515a52651ab4e4c7496fc2ef686f7b"
    ),
    (
      name: "clipboard-manager",
      description: "Clipboard manager for COSMIC™",
      repo: "https://github.com/wiiznokes/clipboard-manager",
      image: "https://media.githubusercontent.com/media/wiiznokes/clipboard-manager/master/res/screenshots/main_popup.png"
    ),
    (
      name: "cosmic-applet-emoji-selector",
      description: "Emoji selector",
      repo: "https://github.com/leb-kuchen/cosmic-applet-emoji-selector",
      image: "https://iili.io/JUazV7j.png"
    ),
    (
      name: "cosmic-noise",
      description: "Applet for playing background noise",
      repo: "https://github.com/bq-wrongway/cosmic-noise",
      image: ""
    ),
    (
      name: "cosmic-applet-ollama",
      description: "Applet for Ollama",
      repo: "https://github.com/elevenhsoft/cosmic-applet-ollama",
      image: "https://github.com/elevenhsoft/cosmic-applet-ollama/blob/main/screenshots/chat.png"
    ),
    (
      name: "cosmic-ext-applet-external-monitor-brightness",
      description: "External Monitor Brightness Applet for the COSMIC™ desktop",
      repo: "https://github.com/maciekk64/cosmic-ext-applet-external-monitor-brightness",
      image: "https://github.com/maciekk64/cosmic-ext-applet-external-monitor-brightness/blob/master/data/screenshot1.png"
    )
  ]
)
