Applications(
  list: [
    (
      name: "cosmic-tasks",
      description: "A simple task management application for the COSMIC desktop.",
      repo: "https://github.com/edfloreshz/cosmic-tasks",
      image: "https://raw.githubusercontent.com/edfloreshz/cosmic-tasks/main/res/screenshots/window-light.png"
    ),
    (
      name: "fan-control",
      description: "Control your fans with different behaviors.",
      repo: "https://github.com/wiiznokes/fan-control",
      image: "https://media.githubusercontent.com/media/wiiznokes/fan-control/master/resource/screenshots/app.png"
    ),
    (
      name: "cosmic-wam",
      description: "Web App Manager for Cosmic desktop written with love and libcosmic. Allow you to simply create web applications from given url working inside separate window of your browser of choice.",
      repo: "https://github.com/elevenhsoft/cosmic-wam",
      image: "https://raw.githubusercontent.com/elevenhsoft/cosmic-wam/master/res/screenshots/window-light.png"
    )
  ]
)
