Applications(
  list: [
    (
      name: "cosmic-tasks",
      description: "A simple task management application for the COSMIC desktop.",
      repo: "https://github.com/edfloreshz/cosmic-tasks",
      image: "https://raw.githubusercontent.com/edfloreshz/cosmic-tasks/main/res/screenshots/window-light.png"
    ),
    (
      name: "fan-control",
      description: "Control your fans with different behaviors.",
      repo: "https://github.com/wiiznokes/fan-control",
      image: "https://private-user-images.githubusercontent.com/78230769/290960467-cdc30753-4186-47a1-ba49-11af3868380f.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTA4NjcwNzYsIm5iZiI6MTcxMDg2Njc3NiwicGF0aCI6Ii83ODIzMDc2OS8yOTA5NjA0NjctY2RjMzA3NTMtNDE4Ni00N2ExLWJhNDktMTFhZjM4NjgzODBmLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAzMTklMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMzE5VDE2NDYxNlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTYzNjkyZmM5ZDcwNmI2ZTJhOTUzMGEwYmQzMWY5NTZkNTM2ZWFmZDFmMjg3OTVmZjk2MzQ1NDBmYmY5NDNkNjQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.MGVa6nEKOUaCwqaKRNExAv491DJLQ01oH3KnV4igeIk"
    )
  ]
)
