#![enable(implicit_some)]

Applications(
  list: [
    (
      name: "tasks",
      description: "A simple task management application for the COSMIC desktop.",
      repo: "https://github.com/edfloreshz/tasks",
      image: "https://raw.githubusercontent.com/edfloreshz/tasks/main/res/screenshots/window-light.png"
    ),
    (
      name: "fan-control",
      description: "Control your fans with different behaviors.",
      repo: "https://github.com/wiiznokes/fan-control",
      image: "https://media.githubusercontent.com/media/wiiznokes/fan-control/master/res/screenshots/app.png"
    ),
    (
      name: "cosmic-webapps",
      description: "Web App Manager for Cosmic desktop written with love and libcosmic. Allow you to simply create web applications from given url working inside separate window of your browser of choice.",
      repo: "https://github.com/elevenhsoft/WebApps",
      image: "https://raw.githubusercontent.com/elevenhsoft/WebApps/0.3.5/res/screenshots/window-dark.png"
    ),
    (
      name: "cosmic-color-picker",
      description: "A color picker for COSMIC.",
      repo: "https://github.com/PixelDoted/cosmic-color-picker",
      image: "https://raw.githubusercontent.com/PixelDoted/cosmic-color-picker/main/preview.png"
    ),
    (
      name: "oboete",
      description: "A simple flashcards application for the COSMIC™ desktop.",
      repo: "https://github.com/mariinkys/oboete",
      image: "https://raw.githubusercontent.com/mariinkys/oboete/main/res/screenshots/study-dark.png"
    ),
    (
      name: "starry-dex",
      description: "Pokédex application for the COSMIC™ desktop.",
      repo: "https://github.com/mariinkys/starrydex",
      image: "https://raw.githubusercontent.com/mariinkys/starrydex/main/screenshots/pokemon.png"
    ),
    (
      name: "cosmic-dirstat",
      description: "KDirStat-esque disk usage analyzer using the libcosmic toolkit.",
      repo: "https://github.com/Koranir/cosmic-dirstat",
      image: "https://raw.githubusercontent.com/Koranir/cosmic-dirstat/master/img/screenshot.png"
    ),
    (
      name: "cosmic-weather",
      description: "A simple weather application for the COSMIC™ Desktop",
      repo: "https://github.com/jwestall/cosmic-weather",
      image: "https://raw.githubusercontent.com/jwestall/cosmic-weather/main/screenshots/window.png"
    )
  ]
)
