#![enable(implicit_some)]

Themes(
  list: [
    (
      name: "cosmic-desktop",
      description: "Soothing pastel theme for COSMIC Desktop Environment",
      repo: "https://github.com/catppuccin/cosmic-desktop",
      image: "https://raw.githubusercontent.com/catppuccin/cosmic-desktop/main/assets/preview.webp"
    )
  ]
)
