#![enable(implicit_some)]

Themes(
  list: [
    (
      name: "catppuccin",
      description: "Soothing pastel theme for COSMIC Desktop Environment",
      repo: "https://github.com/catppuccin/cosmic-desktop",
      image: "https://raw.githubusercontent.com/catppuccin/cosmic-desktop/main/assets/preview.webp"
    ),
    (
      name: "cosmic-themes-org-py",
      description: "Website for https://cosmic-themes.org",
      repo: "https://github.com/Fingel/cosmic-themes-org-py",
      image: ""
    )
  ]
)
